.container {
  width: 100%;
  margin: 2%;
  /* background:#ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding: 2% 5%;
  font-size: 1.5em;
  display: flex;
  width: 90%;
  justify-content: space-between;
  /* font-weight: bold; */
}

.title {
  font-weight: bold;
  text-align: center;
}

.backBtn {
  cursor: pointer;
  transition: 0.3s;
}

.backBtn:hover {
  transform: translateX(-5px);
  color: var(--prim-dark);
}

.cardContainer {
  width: 90%;
  /* background: #9992; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer > div {
  width: 50%;
  /* text-align: center; */
  height: 300px;
  border: 3px solid #000;
  margin-bottom: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.3s;
}

.cardContainer > div:hover {
  background: #9993;
}


.streamContainer>span{
  margin: 5%;
  text-align: center;
}

.streamContainer > img {
  max-width: 10%;
}

@media screen and (max-width: 768px) {
  .cardContainer > div {
    width: 90%;
  }

  .streamContainer > span {
    font-size: 1.2rem;
  }

  .streamContainer > img {
    max-width: 20%;
  }
}


@media screen and (max-width:750px) and (min-width:550px) {
 
  .streamContainer > img {
    max-width: 10%;
  }
}
  
